

.mySwiper {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.mySwiper .swiper-wrapper {
  align-items: center;
}

.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 60vw;
  height: 60vw;
  max-width: 550px;
  max-height: 550px;
  border-radius: 10px;
  overflow: hidden;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}


.mySwiper .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.6);
}

