:root {
    --bg-color: #f9f4d5;
    --accent-color: #b2c6f9;
    --text-color: #491118;
    --font-family: "forma-djr-mono", sans-serif;
    --font-title: "forma-djr-mono", sans-serif;
}
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: left;
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
}

.nav-link {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 33.33%;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding-top: 12px;
}

.nav-link:hover {
    color: var(--accent-color);
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

h2 {
    font-size: 36px;
    color: var(--text-color);
    margin: 40px 0;
}

h3 {
    font-size: 25px;
    color: var(--text-color);
}
h4 {
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}
img {
    width: 100%;
}

h5 {
    font-size: 48px;
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}
hr {
    border-top: 1px solid #491118
}

section hr {
    border-top: 1px dashed #491118;
}

#entrevistas {
    margin-top: 50px;
    margin-bottom: 50px;
}