:root {
    --scroll-background: #ec4342;
    --scroll-foreground: #fdead2;
    --scroll-background-over: #efd5bb;
    --scroll-size: 10px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-background);
    height: var(--scroll-size);
    width: var(--scroll-size);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-foreground);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-background-over);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}