<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de mi proyecto</title>
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <!-- Open Graph Metadata -->
    <meta property="og:title" content="Título de mi proyecto">
    <meta property="og:description" content="Breve Descripción de mi proyecto">
    <meta property="og:url" content="https://mi-username.github.io/nombre-repositorio/">
    <meta property="og:type" content="website">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>